body {
  background-color: #f7ad0a;
}
.left-panel {
  background-image: url("../images/dumble.jpg");
  background-position: right;
}
.right-panel {
  background-image: url("../images/vold.jpg");
  background-position: left;
}
.title {
  text-align: center;
}

.middle-area {
  margin: 20px 0 20px 0;
}
.hangman {
  text-align: center;
  margin: 10px 0 60px 0;
}
.incorrect-sect {
  margin-bottom: 60px;
}
.wrongL {
  height: 20px;
}
.lead {
  font-weight: 700;
  font-size: 25px;
}

.instruction {
  text-align: center;
}
.keyboard {
  text-align: center;
  padding: 60px;
}
.letterContain {
  margin: 3px;
  padding: 30px;
  font-size: 25px;
  display: inline-block;
  background-color: white;
}
@media (min-width: 778px) {
  .keyboard {
    display: none;
  }
}
